//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 29 20:31:11 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SW_0" LOCATE = SITE "L13" LEVEL 1;
COMP "SW_1" LOCATE = SITE "L14" LEVEL 1;
COMP "SW_2" LOCATE = SITE "H18" LEVEL 1;
COMP "SW_3" LOCATE = SITE "N17" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "LED_7" LOCATE = SITE "F9" LEVEL 1;
COMP "SF_CE" LOCATE = SITE "D16" LEVEL 1;
COMP "Clk_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "SDC_SS" LOCATE = SITE "B6" LEVEL 1;
COMP "BTN_SOUTH" LOCATE = SITE "K17" LEVEL 1;
COMP "LCD_D<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "LCD_D<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "LCD_D<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "LCD_D<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "BTN_EAST" LOCATE = SITE "H13" LEVEL 1;
COMP "BTN_WEST" LOCATE = SITE "D18" LEVEL 1;
COMP "SDC_MISO" LOCATE = SITE "A6" LEVEL 1;
COMP "SDC_MOSI" LOCATE = SITE "F7" LEVEL 1;
COMP "SDC_SCK" LOCATE = SITE "E7" LEVEL 1;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "Clk_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

