//! **************************************************************************
// Written by: Map P.20131013 on Thu May 16 14:10:15 2024
//! **************************************************************************

SCHEMATIC START;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

